$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$dark-green: #236167;
$light-green: #2c8d3d;
$purpleish: #68979b;
$idk: #f6f6f6;

body {
  background: linear-gradient(100deg, $idk, $purpleish  100%);
  color: black;

}
